<?xml version="1.0"?>
<robot name="pelican" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="frame_prefix" default="" />
  <xacro:include filename="$(find mrsl_quadrotor_description)/urdf/pelican/pelican_so3.urdf.xacro" />
  <xacro:include filename="$(find mrsl_quadrotor_description)/urdf/pelican_laser/sensors.urdf.xacro" frame_prefix="$(arg frame_prefix)"/>
</robot>
