<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find mrsl_quadrotor_description)/urdf/sensors/hokuyo_utm30lx_rotate.urdf.xacro" />
  <xacro:hokuyo_utm30lx name="lidar" parent="base_link" ros_topic="laser/scan" update_rate="40" ray_count="1081" min_angle="-135" max_angle="135">
    <origin xyz="0.0 0.0 0.2" rpy="0 0 0"/>
  </xacro:hokuyo_utm30lx>

<!--
  <xacro:include filename="$(find mrsl_quadrotor_description)/urdf/sensors/VLP-16.urdf.xacro" />
  <xacro:VLP-16 name="velodyne" parent="base_link" topic="velodyne_point_cloud" robot="fla">
    <origin xyz="0.0 0.0 0.15" rpy="0 0 0"/>
  </xacro:VLP-16>
-->
  <!--
  <xacro:include filename="$(find mrsl_quadrotor_description)/urdf/sensors/camera.urdf.xacro" />
  <xacro:monocular_camera name="downward" parent="base_link">
    <origin xyz="0.0 0.0 -0.1" rpy="0 ${M_PI/2} 0"/>
  </xacro:monocular_camera>
-->
  <xacro:include filename="$(find mrsl_quadrotor_description)/urdf/sensors/camera.urdf.xacro" />
  <xacro:monocular_camera name="forward" parent="base_link">
    <origin xyz="0.2 0.0 0.0" rpy="0 0 0"/>
  </xacro:monocular_camera>


</robot>
