<?xml version="1.0"?>

<robot name="quadrotor" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="pi" value="3.1415926535897931" />
  <xacro:property name="mass" value="0.5" />
  <xacro:property name="ixx" value="0.00264" />
  <xacro:property name="iyy" value="0.00264" />
  <xacro:property name="izz" value="0.00496" />

  <!-- Main quadrotor link -->
  <xacro:macro name="quadrotor_base_macro">
    <link name="base_link">
      <inertial>
        <!--mass value="1.477" /-->
        <mass value="${mass}"/>
        <origin xyz="0 0 0" />
        <inertia ixx="${ixx}" ixy="0.0" ixz="0.0" iyy="${iyy}" iyz="0.0" izz="${izz}" />
      </inertial>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://mrsl_models/models/hector_quadrotor/quadrotor_base.dae"/>
        </geometry>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://mrsl_models/models/hector_quadrotor/quadrotor_base.stl"/>
        </geometry>
      </collision>
    </link>

    <!-- Plugins -->
    <gazebo>

      <!-- Quad Dynamics Plugin -->
      <plugin name="test" filename="libmrsl_quadrotor_propulsion.so">
        <command_topic>so3_cmd</command_topic>
        <odom_topic>ground_truth/odom</odom_topic>
      </plugin>

      <!-- Quad Ground Truth Plugin -->
      <plugin name="quadrotor_groundtruth_sim" filename="libgazebo_ros_p3d.so">
        <updateRate>100.0</updateRate>
        <bodyName>base_link</bodyName>
        <topicName>ground_truth/odom</topicName>
        <gaussianNoise>0.0</gaussianNoise>
        <frameName>world</frameName>
      </plugin>

      <!-- Quad Imu Plugin -->
      <plugin name="quadrotor_imu_sim" filename="libhector_gazebo_ros_imu.so">
        <updateRate>100.0</updateRate>
        <bodyName>base_link</bodyName>
        <topicName>raw_imu</topicName>
        <rpyOffsets>0 0 0</rpyOffsets> <!-- deprecated -->
        <gaussianNoise>0</gaussianNoise>  <!-- deprecated -->
        <accelDrift>0.5 0.5 0.5</accelDrift>
        <accelGaussianNoise>0.35 0.35 0.3</accelGaussianNoise>
        <rateDrift>0.1 0.1 0.1</rateDrift>
        <rateGaussianNoise>0.05 0.05 0.015</rateGaussianNoise>
        <headingDrift>0.1</headingDrift>
        <headingGaussianNoise>0.05</headingGaussianNoise>
      </plugin>
    </gazebo>

  </xacro:macro>

  <xacro:quadrotor_base_macro/>
</robot>

