<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="frame_prefix" default="" />
  <xacro:include filename="$(find mrsl_quadrotor_description)/urdf/sensors/hokuyo_utm30lx.urdf.xacro" />
  <xacro:hokuyo_utm30lx name="laser" parent="base_link" ros_topic="laser/scan" update_rate="40" ray_count="1081" min_angle="-135" max_angle="135" frame_prefix="$(arg frame_prefix)">
    <origin xyz="0.0 0.0 0.1" rpy="0 0 ${M_PI/4}"/>
  </xacro:hokuyo_utm30lx>

  <xacro:include filename="$(find mrsl_quadrotor_description)/urdf/sensors/stereo_camera.urdf.xacro" />
  <xacro:stereo_camera name="stereo" parent="base_link" frame_prefix="$(arg frame_prefix)">
    <origin xyz="0.11 0.11 0.0" rpy="0 0 ${M_PI/4}"/>
  </xacro:stereo_camera>
</robot>
