<launch>
  <arg name="robot" default="juliett"/>
  <arg name="odom" default="ground_truth/odom"/>

  <group ns="$(arg robot)">
    <node pkg="nodelet"
      type="nodelet"
      args="standalone so3_control/SO3ControlNodelet"
      name="so3_control"
      required="true"
      output="screen">
      <rosparam file="$(find mrsl_quadrotor_launch)/config/gains.yaml"/>
      <param name="mass" value="0.5"/>
      <remap from="~odom" to="$(arg odom)"/>
      <remap from="~position_cmd" to="position_cmd"/>
      <remap from="~so3_cmd" to="so3_cmd"/>
      <remap from="~motors" to="motors"/>
    </node>
  </group>
</launch>
