<launch>
  <arg name="robot" default="Falcon4"/>
  <arg name="robot_type" default="Falcon4"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.1"/>
  <arg name="Y" default="-0.785"/>

  <group ns="$(arg robot)">
    <arg name="model" default="$(find mrsl_quadrotor_description)/urdf/$(arg robot_type)/$(arg robot_type).gazebo.xacro"/>
    <param name="robot_description" command="xacro '$(arg model)' "/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="30.0" />
    </node>
    <node name="spawn_robot"
      pkg="gazebo_ros"
      type="spawn_model"
      respawn="false"
      args="-param robot_description
      -urdf
      -x $(arg x)
      -y $(arg y)
      -z $(arg z)
      -Y $(arg Y)
      -model $(arg robot)"
      output="screen"/>
  </group>  

</launch>
