<launch>
  <env name="GAZEBO_MODEL_PATH" value="$(find mrsl_models)/models:$(optenv GAZEBO_MODEL_PATH)"/>
  <arg name="world" default="empty"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find mrsl_quadrotor_description)/worlds/$(arg world).world"/>
    <arg name="debug" value="false" />
    <arg name="gui" value="true" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="false"/>
  </include>
</launch>
