<launch>
  <arg name="robot" default="juliett"/>
  <arg name="robot_type" default="pelican_laser_rgbd"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.1"/>

  <group ns="$(arg robot)">
  <!--arg name="robot_type" default="hummingbird"/-->
    <arg name="model" default="$(find mrsl_quadrotor_description)/urdf/$(arg robot_type)/$(arg robot_type).gazebo.xacro"/>
    <param name="robot_description" command="$(find xacro)/xacro.py '$(arg model)' "/>
    <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
      args="-param robot_description
      -urdf
      -x $(arg x)
      -y $(arg y)
      -z $(arg z)
      -Y -0.7854
      -model $(arg robot)"
      respawn="false" output="screen"/>
  </group>

  <!--
  <include file="$(find mrsl_quadrotor_launch)/launch/controller.launch">
    <arg name="robot" value="$(arg robot)"/>
  </include>
-->
</launch>
