<launch>
  <arg name="robot" default="juliett"/>
  <!--arg name="robot_type" default="hummingbird"/-->
  <arg name="robot_type" default="pelican"/>

  <group ns="$(arg robot)">
    <arg name="model" default="$(find mrsl_quadrotor_description)/urdf/$(arg robot_type)/$(arg robot)/$(arg robot_type).gazebo.xacro"/>

    <param name="robot_description" command="$(find xacro)/xacro.py '$(arg model)'" />

    <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
      args="-param robot_description
      -urdf
      -x 0
      -y 0
      -z 0.0
      -model $(arg robot)"
      respawn="false" output="screen"/>
  </group>

  <!--
  <include file="$(find mrsl_quadrotor_launch)/launch/controller.launch">
    <arg name="robot" value="$(arg robot)"/>
  </include>
-->
</launch>
