<launch>
  <arg name="robot" default="quadrotor"/>
  <arg name="model" default="$(find mrsl_quadrotor_description)/urdf/quadrotor.gazebo.xacro"/>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(arg model)'" />

  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
    args="-param robot_description
    -urdf
    -x 0
    -y 0
    -z 0.3
    -model $(arg robot)"
    respawn="false" output="screen"/>
 
</launch>
