<?xml version="1.0"?>

<robot name="quadrotor" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="mass" value="1.5" />
  <xacro:property name="ixx" value="0.004" />
  <xacro:property name="iyy" value="0.004" />
  <xacro:property name="izz" value="0.00496" />
  <xacro:property name="M_PI" value="3.1415926535897931" />
  <!-- Main quadrotor link -->
  <xacro:macro name="quadrotor_base_macro">
    <link name="base_link">
      <inertial>
        <mass value="${mass}"/>
        <origin xyz="0 0 0.12" />
        <inertia ixx="${ixx}" ixy="0.0" ixz="0.0" iyy="${iyy}" iyz="0.0" izz="${izz}" />
      </inertial>
      <visual>
        <origin xyz="0 0 0.05" rpy="0 0 -${M_PI/2}" />
        <geometry>
          <mesh filename="package://mrsl_models/models/falcon4/falcon4.dae"/>
          <!--cylinder radius="0.05" length="0.01"/-->	  
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0.13" rpy="0 0 0" />
        <geometry>
          <cylinder radius="0.52" length="0.2"/>
        </geometry>
      </collision>
    </link>
 
    <!-- OVC3 Right Side Cam -->
    <xacro:include filename="$(find mrsl_quadrotor_description)/urdf/sensors/ovc3_extcam.urdf.xacro" />
    <xacro:stereo_camera name="bonus_right" parent="base_link">
    <origin xyz="0.02 -0.084 0.08" rpy="0 0 -${M_PI/2}"/>
    </xacro:stereo_camera>
    <!-- OVC3 Left Side Cam -->
    <xacro:include filename="$(find mrsl_quadrotor_description)/urdf/sensors/ovc3_extcam.urdf.xacro" />    
    <xacro:stereo_camera name="bonus_left" parent="base_link">
    <origin xyz="0.02 0.08 0.08" rpy="0 0 ${M_PI/2}"/>
    </xacro:stereo_camera>
    <!-- OVC3 -->
    <xacro:include filename="$(find mrsl_quadrotor_description)/urdf/sensors/ovc3.urdf.xacro" />    
    <xacro:stereo_camera name="/ovc3" parent="base_link">
    <origin xyz="0.1 0 0.065" rpy="0 0 0"/>
    </xacro:stereo_camera>
    <!-- Downward facing Lidar -->
    <xacro:include filename="$(find mrsl_quadrotor_description)/urdf/sensors/range_beam.urdf.xacro" />
    <xacro:range_beam name="downward_range_beam_frame" parent="base_link" ros_topic="range" update_rate="10">
      <origin xyz="0 0 0" rpy="0 ${M_PI/2} 0"/>
    </xacro:range_beam> 

    
    <!-- Plugins -->
    <gazebo>
      <!-- Quad Dynamics Plugin -->
      <plugin name="quadrotor_propulsion" filename="libmrsl_quadrotor_propulsion.so">
        <command_topic>so3_cmd</command_topic>
        <odom_topic>ground_truth/odom</odom_topic>
      </plugin>

      <!-- Quad Ground Truth Plugin -->
      <plugin name="quadrotor_groundtruth_sim" filename="libgazebo_ros_p3d.so">
        <updateRate>100.0</updateRate>
        <bodyName>base_link</bodyName>
        <topicName>ground_truth/odom</topicName>
        <gaussianNoise>0.0</gaussianNoise>
        <frameName>world</frameName>
      </plugin>
     </gazebo>

     <!-- GPS Sensor -->
     <gazebo>
        <plugin name="novatel_gps_sim" filename="libhector_gazebo_ros_gps.so">
        <alwaysOn>1</alwaysOn>
          <updateRate>10.0</updateRate>
          <bodyName>base_link</bodyName>
          <topicName>GPS_Fix</topicName>
          <velocityTopicName>fix_velocity</velocityTopicName>
          <drift>5.0 5.0 5.0</drift>
          <gaussianNoise>0.1 0.1 0.1</gaussianNoise>
          <velocityDrift>0 0 0</velocityDrift>
          <velocityGaussianNoise>0.1 0.1 0.1</velocityGaussianNoise>
      </plugin>
     </gazebo>
  </xacro:macro>

  <xacro:quadrotor_base_macro/>
</robot>

